.page-title {
  position: relative;
  font-size: 42px;

  span {
    background: white;
    position: relative;
    padding-right: 20px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 27px;
    right: 0;
    width: 100%;
    height: 1px;
    background: lightgray;
  }
}
