.cart-container {
  width: 350px;
  position: absolute;
  bottom: 40px;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

  .cart-field-icon {
    align-self: flex-end;
  }

  .cart-text-area {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 5px;
    outline: none;
  }

  .cart-field {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
  }

  .cart-field-input {
    flex: 1;
    margin-left: 10px;
  }

  &.cart-container-open {
    opacity: 1;
    pointer-events: initial;
  }
}
