.products-wrapper {
  position: relative;
  overflow: hidden;
  padding: 100px 100px 0px 100px;
  margin: 0 auto;
}

.products-inner-wrapper {
  width: 100%;
  position: relative;
  min-height: 10px;
  box-sizing: border-box;

  .products-content {
    font-size: 13px;
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    padding: 10px;

    .products-content-tabs {
      position: relative;
      text-align: left;

      .PrivateTabIndicator-colorPrimary-3 {
        background-color: transparent;
        border-bottom: 1px solid #000;
        color: #000;
      }

      .MuiTabs-flexContainer {
        border-bottom: 1px solid #ddd;

        .PrivateTabIndicator-colorPrimary-2 {
          border-bottom: 1px solid #000;
          color: #000;
        }

        .MuiButtonBase-root {
          font-size: 14px;
          font-weight: bold;
          letter-spacing: 0.5px;
        }

        .MuiTab-textColorPrimary {
          color: #bbb;
        }

        .MuiTab-textColorPrimary.Mui-selected {
          color: #000;
        }
      }
    }
  }

  .MuiTabs-flexContainer {
    overflow: auto;
  }
}

@media only screen and (max-width: 420px) {
  .products-wrapper {
    padding: 90px 10px 0px 10px;

    .article-container {
      min-width: 300px;
    }
  }
}
