.header-button {
  font-size: 13px;
  color: white;
  text-decoration: none;
  margin: 5px 10px;
  width: 100px;
  text-align: center;
  border-bottom: 1px solid transparent;
  padding: 10px 0px;

  transition: border 0.3s ease;

  &:hover {
    border-bottom: 1px solid white;
  }

  &.header-button--active {
    border-bottom: 1px solid white;
  }
}
